<%- include("header", {title: title}); %>
<p>Skapa en om-sida på eshop/about som visar namnen på de som jobbat (i gruppen) för att lösa uppgiften.</p>
<h1> Members of the group</h1>

<p>Malte Eriksson</p>

<%- include("footer"); %>