<%- include("header", {title: title}) %>

<h1> Cafe Casu Landing page</h1>
<p>I webbklienten, skapa routen /eshop/index som visar en välkomstssida till din eshop. Välj själv vad du visar på förstasidan.</p>
<img src="/caffe.jpg" alt="gggg" class="resized-img">

<%- include ("footer"); %>