<%- include("header", { title: title }); %>
<p></p>

<form class="label-left" method="post" action="/invadd">
    <fieldset>
        <legend>Add on Shelfs</legend>

        <label for="id">ID</label>
        <input id="id" type="text" name="id" value="<%= typeof productId !== 'undefined' ? productId : '' %>">

        <label for="shelf">Shelf</label>
        <input id="shelf" type="text" name="shelf" value="<%= typeof shelfLocation !== 'undefined' ? shelfLocation : '' %>">

        <label for="amount">Amount</label>
        <input id="amount" type="number" name="amount">

        <input type="submit" name="doit" value="Add">
    </fieldset>
</form>

<%- include("footer"); %>
